body
{
    background-image:url('background.jpg');
}

.btns
{
    width:150px;
    height:50px;
    font-size:em;
    color:#4682B4;
    background-color: lightblue;
}

/*
.loginPage
{
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);

	font-size:2.5em;
	text-align:center;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;

}
*/